<% provide(:title, "Contact") %>

<div class="container py-5">
  <h1 class="display-4">Contact</h1>
  <p class="lead">
    Want to get in touch? I’d love to hear from you.
  </p>

  <hr class="my-4">

  <ul class="list-unstyled">
    <li><strong>Email:</strong> besuwinner@gmail.com</li>
    <li><strong>Phone:</strong> +251-901-501-776</li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/https://www.linkedin.com/in/besufkad-yalew-0673402b4?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bv%2ByrSAL9SSegBuKupMSohg%3D%3D" target="_blank">Besufkad Yalew</a></li>
    <li><strong>GitHub:</strong> <a href="https://github.com/besu179" target="_blank">BESU179</a></li>
  </ul>
</div>
