<% provide(:title, @title) %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1><%= @title %></h1>
      
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Privacy Policy</h5>
          <p class="card-text">
            This Privacy Policy explains how we collect, use, and disclose information when you use our services.
          </p>

          <div class="mt-4">
            <h6>Information We Collect</h6>
            <ul class="list-unstyled">
              <li><strong>Account Information:</strong> Name, email address, and other information you provide when creating an account.</li>
              <li><strong>Usage Information:</strong> Information about how you use our services, including your interactions with other users.</li>
            </ul>
          </div>

          <div class="mt-4">
            <h6>How We Use Your Information</h6>
            <ul class="list-unstyled">
              <li>To provide and maintain our services</li>
              <li>To communicate with you about your account and our services</li>
              <li>To improve our services and develop new features</li>
            </ul>
          </div>

          <div class="mt-4">
            <h6>Your Rights</h6>
            <ul class="list-unstyled">
              <li>You can access, update, or delete your personal information</li>
              <li>You can opt out of receiving marketing communications</li>
              <li>You can request to delete your account</li>
            </ul>
          </div>

          <div class="mt-4">
            <h6>Changes to This Privacy Policy</h6>
            <p>
              We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
